@import "fonts";

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova";
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

@import "header-geral.scss";

.listagem {
  margin-top: 30px;
  padding: 0px 18px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
  margin-bottom: 86px;
  width: 100%;

  .categoria {
    border-radius: 4px;
    width: 100%;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #dfdfe1;

    .imagem {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        border-radius: 4px;
        width: 70px;
        height: 70px;
      }
    }

    .legenda {
      display: flex;
      align-items: center;
      text-align: left;
      width: 100%;
      margin-left: 10px;

      .nome {
        line-height: 1.4;
        margin-top: 4px;
        font-size: 16px;
        color: #000000;
      }
    }

    .icones {
      display: flex;
      align-items: center;

      a {
        width: 24px;
        height: 24px;
        margin-left: 15px;

        svg {
          width: 24px;
          height: 24px;
          fill: #8db543;
        }
      }
    }
  }

  .categoria:last-child {
    border-bottom: none;
  }
}

.adicionar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 74px;
  width: 100%;
  position: fixed;
  margin-right: 18px;
  right: 0;
  margin-bottom: 10px;
  bottom: 0;
  box-sizing: border-box;

  a.btn-floating.btn-large {
    background: #8db543;
  }
}
