@import "fonts";

@import "cabecalho";

@import "header-geral";

body {
  padding-bottom: 74px;
}

.cupons {
  margin: 0px 18px;
  margin-top: 30px;
  margin-bottom: 15px;

  .cupom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 1px solid #dfdfe1;

    .informacoes {
      margin-right: 10px;

      h5 {
        color: #000000;
        font-size: 18px;
      }
      p {
        color: #545460;
        font-size: 16px;
      }
    }
    .icones {
      display: flex;
      align-items: center;

      a {
        width: 24px;
        height: 24px;
        margin-left: 15px;

        svg {
          width: 24px;
          height: 24px;
          fill: #8db543;
        }
      }
    }
  }

  .cupom:first-child {
    padding-top: 0px;
  }

  .cupom:last-child {
    border-bottom: none;
  }
}

.adicionar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 74px;
  width: 100%;
  position: fixed;
  margin-right: 18px;
  right: 0;
  margin-bottom: 10px;
  bottom: 0;
  box-sizing: border-box;

  a.btn-floating.btn-large {
    background: #8db543;
  }
}
