@import "fonts";

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova";
  padding-bottom: 74px;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

@import "header-geral.scss";

.abas {
  margin: 0px 18px;

  ul#tabs-swipe-demo.tabs {
    display: flex;
    justify-content: flex-start;
    background: transparent;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    width: 210px;

    li.tab {
      display: flex;
      text-align: left;
      border-bottom: 0;
      padding: 0;
      margin: 0;

      a {
        color: #000000;
        font-size: 16px;
        text-transform: initial;
        background: transparent;
        width: auto;
        padding: 0;
        margin: 0;
        border-bottom: 3px solid #e5e5e5;
      }
      a.active {
        background: transparent;
        border-bottom: 3px solid #ca1f25;
      }
    }
    li.indicator {
      background: transparent;
      border-bottom: 0;
    }
  }

  div#novos,
  div#ativos,
  div#ocultos {
    form {
      margin-bottom: 10px;

      .input-field {
        position: relative;

        a {
          position: absolute;
          bottom: 7px;
          right: 0;
          cursor: pointer;

          i.material-icons {
            color: #9e9e9e;
            font-size: 30px;
          }
        }
      }

      .form-field {
        select {
          display: block;
          background: transparent;
          border: none;
          border-bottom: 1px solid #9e9e9e;
          padding: 0px;
          box-sizing: border-box;
          color: #9e9e9e;
          font-size: 16px;
          font-family: "Proxima Nova";

          option {
            color: #000000;
            background: #ffffff;
          }
        }
      }
    }

    .produtos {
      width: 100%;

      .produto {
        display: flex;
        justify-content: space-between;
        padding: 15px 0px;
        border-top: 1px solid #dfdfe1;

        .informacoes {
          display: flex;
          align-items: center;

          .foto {
            padding: 0px;
            margin-right: 15px;
            width: 70px;
            height: 70px;

            img {
              width: 100%;
              height: auto;
              border-radius: 7px;
            }
          }
          .descricao {
            margin-top: 3px;
            h4 {
              font-size: 16px;
              color: #000000;
              margin-bottom: 7px;
            }
            h5 {
              font-size: 14px;
              color: #5d5d69;
              margin-bottom: 3px;
            }
            p {
              font-size: 12px;
              color: #5d5d69;
            }
          }
        }

        .editar {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          svg {
            fill: #8db543;
            height: 24px;
            width: 24px;
          }
        }
      }

      div.produto:first-child {
        border: none;
      }
    }

    .adicionar {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 74px;
      width: 100%;
      position: fixed;
      margin-right: 18px;
      right: 0;
      margin-bottom: 10px;
      bottom: 0;
      box-sizing: border-box;

      a.btn-floating.btn-large {
        background: #8db543;
      }
    }
  }
}
