@import "fonts";

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova";
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

@import "header-geral.scss";

.formulario {
  margin: 0px 18px;
  margin-top: 20px;
  margin-bottom: 30px;

  form {
    margin-bottom: 10px;

    .input-field {
      position: relative;

      a {
        position: absolute;
        bottom: 7px;
        right: 0;
        cursor: pointer;

        i.material-icons {
          color: #9e9e9e;
          font-size: 30px;
        }
      }
    }

    .form-field {
      select {
        display: block;
        background: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        padding: 0px;
        box-sizing: border-box;
        color: #9e9e9e;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        font-family: "Proxima Nova";

        option {
          color: #000000;
          background: #ffffff;
        }
      }
    }
  }
}

.listagem {
  margin: 0px 18px;
  margin-bottom: 15px;

  .venda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 1px solid #dfdfe1;

    .informacoes {
      margin-right: 10px;

      .numero-cliente {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        p.numero-pedido {
          padding: 1px 10px;
          border-radius: 3px;
          background: #000000;
          color: #ffffff;
          font-size: 16px;
          line-height: normal;
          margin-right: 7px;
        }
        p.numero-pedido.novo {
          background: #5a72dc;
        }
        p.numero-pedido.andamento {
          background: #d96d00;
        }
        p.numero-pedido.cancelado {
          background: #d80100;
        }
        p.numero-pedido.entregue {
          background: #888888;
        }

        p.nome-cliente {
          color: #000000;
          font-weight: 700;
          font-size: 16px;
          line-height: normal;
        }
      }

      p.data-valor {
        color: #545460;
        font-size: 16px;
        line-height: normal;
      }
      p.modo-entrega {
        color: #545460;
        font-size: 14px;
        line-height: normal;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      p.pagamento {
        color: #545460;
        font-size: 14px;
        line-height: normal;
      }
      p.pagamento.entrega {
        color: #d96d00;
      }
      p.pagamento.aguardando {
        color: #d80100;
      }
      p.pagamento.confirmado {
        color: #8db543;
      }
    }
    .icone {
      display: flex;

      svg {
        width: 30px;
        height: 30px;
        fill: #8db543;
      }
    }
  }

  .venda:first-child {
    padding-top: 0px;
  }

  .venda:last-child {
    border-bottom: none;
  }
}
