@import "fonts";

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova";
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

@import "header-geral.scss";

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 18px;
  width: 100%;
  margin-top: 200px;

  h1 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    padding: 0;

    .input-field {
      position: relative;

      a {
        position: absolute;
        bottom: 10px;
        right: 0;
        text-decoration: none;

        i.material-icons {
          height: 24px;
          width: 24px;
          color: #000000;
          overflow: hidden;
        }
      }
    }

    ::placeholder {
      color: #dfdfe1;
      background: #ffffff;
      font-size: 16px;
    }
  }

  .login-links {
    display: flex;
    align-items: center;
    justify-content: center;

    p,
    a {
      color: #5b74d9;
      font-size: 16px;
    }

    a {
      text-decoration: none;
    }
  }
}

svg#Layer_1 {
  fill: url(#MyGradient);
  height: 40px;
  width: 40px;
  margin: 0px 10px;
}
