@import "fonts";

@import "cabecalho";

@import "header-geral";

.formulario {
  margin: 0px 18px;
  margin-top: 20px;
  margin-bottom: 30px;

  form {
    margin-bottom: 10px;

    .input-field {
      position: relative;

      input {
        margin-bottom: 0;
        font-size: 14px;
      }

      a {
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;

        i.material-icons {
          color: #535353;
          font-size: 30px;
        }
      }

      .select-wrapper input.select-dropdown {
        color: #9e9e9e;
        font-size: 14px;
      }
    }

    .pesquisar-data {
      display: flex;
      width: 100%;

      .input-field {
        user-select: none;
        margin-top: 0;
        width: 100%;

        .datepicker {
          user-select: none;
        }
        ::placeholder {
          font-size: 14px;
          color: #9e9e9e;
        }
      }
      .input-field.data-inicial {
        margin-right: 15px;
      }
    }
  }
}

.listagem {
  margin: 0px 18px;
  margin-bottom: 15px;

  a.compra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    border-bottom: 1px solid #dfdfe1;

    .informacoes {
      margin-right: 10px;

      .numero-cliente {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        p.numero-pedido {
          padding: 1px 10px;
          border-radius: 3px;
          background: #000000;
          color: #ffffff;
          font-size: 16px;
          line-height: normal;
          margin-right: 7px;
        }
        p.numero-pedido.novo {
          background: #5a72dc;
        }
        p.numero-pedido.andamento {
          background: #d96d00;
        }
        p.numero-pedido.cancelado {
          background: #d80100;
        }
        p.numero-pedido.entregue {
          background: #888888;
        }

        p.nome-cliente {
          color: #000000;
          font-weight: 700;
          font-size: 16px;
          line-height: normal;
        }
      }

      p.data-valor {
        color: #545460;
        font-size: 16px;
        line-height: normal;
      }
      p.modo-entrega {
        color: #545460;
        font-size: 14px;
        line-height: normal;
        margin-top: 5px;
        margin-bottom: 5px;
      }

      p.pagamento {
        color: #545460;
        font-size: 14px;
        line-height: normal;
      }
      p.pagamento.entrega {
        color: #d96d00;
      }
      p.pagamento.aguardando {
        color: #d80100;
      }
      p.pagamento.confirmado {
        color: #8db543;
      }
    }
    .icone {
      display: flex;
      width: 24px;
      height: 24px;

      svg {
        width: 24px;
        height: 24px;
        fill: #8db543;
      }
    }
  }

  .compra:first-child {
    padding-top: 0px;
  }

  .compra:last-child {
    border-bottom: none;
  }
}
