@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova Regular"), url(../proxima-nova/ProximaNova-Regular.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: 200;
  src: local("Proxima Nova Thin"), url(../proxima-nova/ProximaNovaT-Thin.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Light";
  font-style: normal;
  font-weight: 300;
  src: local("Proxima Nova Light"), url(../proxima-nova/ProximaNova-Light.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Semibold";
  font-style: normal;
  font-weight: 600;
  src: local("Proxima Nova Semibold"), url(../proxima-nova/ProximaNova-Semibold.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Proxima Nova Bold"), url(../proxima-nova/ProximaNova-Bold.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Extrabold";
  font-style: normal;
  font-weight: 800;
  src: local("Proxima Nova Extrabold"), url(../proxima-nova/ProximaNova-Extrabld.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Black";
  font-style: normal;
  font-weight: 900;
  src: local("Proxima Nova Black"), url(../proxima-nova/ProximaNova-Black.woff) format("woff"); }

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova"; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

header.navbar-fixed {
  width: 100%; }
  header.navbar-fixed nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #ffffff;
    height: 56px;
    width: 100%;
    padding: 0px 18px;
    -webkit-box-shadow: none;
    box-shadow: none; }
    header.navbar-fixed nav a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0; }
      header.navbar-fixed nav a svg#Capa_1 {
        padding: 0px;
        margin: 0px;
        height: 24px;
        width: 24px; }
        header.navbar-fixed nav a svg#Capa_1 path {
          fill: #000000; }
    header.navbar-fixed nav p.brand-logo {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      font-size: 16px;
      color: #000000; }
    header.navbar-fixed nav a.brand-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0; }
      header.navbar-fixed nav a.brand-logo .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); }
        header.navbar-fixed nav a.brand-logo .logo img {
          width: 35px;
          height: 35px;
          border-radius: 50%; }
    header.navbar-fixed nav .brand-logo.right {
      right: 18px; }

.lista-favoritos {
  margin: 30px 18px; }
  .lista-favoritos .favorito {
    padding: 15px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .lista-favoritos .favorito a.sobre-o-produto {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .lista-favoritos .favorito a.sobre-o-produto .imagem-produto {
        height: 70px;
        width: 70px; }
        .lista-favoritos .favorito a.sobre-o-produto .imagem-produto img {
          border-radius: 4px;
          width: 100%; }
      .lista-favoritos .favorito a.sobre-o-produto .informacoes-produto {
        margin-left: 15px; }
        .lista-favoritos .favorito a.sobre-o-produto .informacoes-produto p.nome {
          font-size: 16px;
          color: #000000; }
        .lista-favoritos .favorito a.sobre-o-produto .informacoes-produto p.preco {
          font-size: 14px;
          color: #555555; }
    .lista-favoritos .favorito a.sobre-a-loja {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .lista-favoritos .favorito a.sobre-a-loja .imagem-loja {
        width: 35px;
        height: 35px;
        margin-bottom: 5px; }
        .lista-favoritos .favorito a.sobre-a-loja .imagem-loja img {
          border-radius: 50%;
          width: 100%;
          -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); }
      .lista-favoritos .favorito a.sobre-a-loja p.nome-loja {
        color: #000000;
        font-size: 12px;
        font-weight: 600; }
  .lista-favoritos .favorito:first-child {
    padding-top: 0; }
  .lista-favoritos .favorito:last-child {
    padding-bottom: 0;
    border-bottom: 0; }
