@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova Regular"), url(../proxima-nova/ProximaNova-Regular.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: 200;
  src: local("Proxima Nova Thin"), url(../proxima-nova/ProximaNovaT-Thin.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Light";
  font-style: normal;
  font-weight: 300;
  src: local("Proxima Nova Light"), url(../proxima-nova/ProximaNova-Light.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Semibold";
  font-style: normal;
  font-weight: 600;
  src: local("Proxima Nova Semibold"), url(../proxima-nova/ProximaNova-Semibold.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Proxima Nova Bold"), url(../proxima-nova/ProximaNova-Bold.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Extrabold";
  font-style: normal;
  font-weight: 800;
  src: local("Proxima Nova Extrabold"), url(../proxima-nova/ProximaNova-Extrabld.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Black";
  font-style: normal;
  font-weight: 900;
  src: local("Proxima Nova Black"), url(../proxima-nova/ProximaNova-Black.woff) format("woff"); }

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova"; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

header.navbar-fixed {
  width: 100%; }
  header.navbar-fixed nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #ffffff;
    height: 56px;
    width: 100%;
    padding: 0px 18px;
    -webkit-box-shadow: none;
    box-shadow: none; }
    header.navbar-fixed nav a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0; }
      header.navbar-fixed nav a svg {
        width: 24px;
        height: 24px;
        color: #000000; }
    header.navbar-fixed nav p.brand-logo {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      font-size: 16px;
      color: #000000; }
    header.navbar-fixed nav a.brand-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0; }
      header.navbar-fixed nav a.brand-logo .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-box-shadow: 1px 1px 5px #9e9e9e;
        box-shadow: 1px 1px 5px #9e9e9e; }
        header.navbar-fixed nav a.brand-logo .logo img {
          width: 35px;
          height: 35px;
          -o-object-fit: contain;
          object-fit: contain;
          border-radius: 50%; }
    header.navbar-fixed nav .brand-logo.right {
      right: 18px; }

.informacoes-categoria {
  margin-top: 30px;
  padding: 0px 18px; }
  .informacoes-categoria form .foto-categoria {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    .informacoes-categoria form .foto-categoria .foto-atual {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .informacoes-categoria form .foto-categoria .foto-atual img {
        border-radius: 4px;
        height: 50px;
        width: 50px; }
      .informacoes-categoria form .foto-categoria .foto-atual p {
        font-size: 16px;
        color: #9e9e9e;
        margin-left: 15px; }
    .informacoes-categoria form .foto-categoria .file-field.input-field {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      position: relative; }
      .informacoes-categoria form .foto-categoria .file-field.input-field .file-path-wrapper {
        width: 100%;
        margin: 0;
        padding: 0; }
        .informacoes-categoria form .foto-categoria .file-field.input-field .file-path-wrapper .file-path {
          width: 100%; }
      .informacoes-categoria form .foto-categoria .file-field.input-field ::-webkit-input-placeholder {
        color: #9e9e9e;
        font-size: 14px; }
      .informacoes-categoria form .foto-categoria .file-field.input-field :-ms-input-placeholder {
        color: #9e9e9e;
        font-size: 14px; }
      .informacoes-categoria form .foto-categoria .file-field.input-field ::-ms-input-placeholder {
        color: #9e9e9e;
        font-size: 14px; }
      .informacoes-categoria form .foto-categoria .file-field.input-field ::placeholder {
        color: #9e9e9e;
        font-size: 14px; }
      .informacoes-categoria form .foto-categoria .file-field.input-field .icone {
        position: absolute;
        right: 0; }
        .informacoes-categoria form .foto-categoria .file-field.input-field .icone i.material-icons {
          width: 24px;
          height: 24px;
          color: #8db543; }
  .informacoes-categoria form .botao-concluir {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 56px;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 5px;
    margin-top: 20px;
    z-index: 999;
    background: transparent; }
    .informacoes-categoria form .botao-concluir button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      background: #8cb543;
      height: 50px;
      width: 100%;
      text-decoration: none;
      color: #ffffff;
      font-size: 20px;
      border-radius: 3px;
      line-height: normal;
      cursor: pointer;
      font-family: "Proxima Nova"; }
