@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  src: local("Proxima Nova Regular"), url(../proxima-nova/ProximaNova-Regular.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: 200;
  src: local("Proxima Nova Thin"), url(../proxima-nova/ProximaNovaT-Thin.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Light";
  font-style: normal;
  font-weight: 300;
  src: local("Proxima Nova Light"), url(../proxima-nova/ProximaNova-Light.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Semibold";
  font-style: normal;
  font-weight: 600;
  src: local("Proxima Nova Semibold"), url(../proxima-nova/ProximaNova-Semibold.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: 700;
  src: local("Proxima Nova Bold"), url(../proxima-nova/ProximaNova-Bold.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Extrabold";
  font-style: normal;
  font-weight: 800;
  src: local("Proxima Nova Extrabold"), url(../proxima-nova/ProximaNova-Extrabld.woff) format("woff"); }

@font-face {
  font-family: "Proxima Nova Black";
  font-style: normal;
  font-weight: 900;
  src: local("Proxima Nova Black"), url(../proxima-nova/ProximaNova-Black.woff) format("woff"); }

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #f9f9f9;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Proxima Nova";
  padding-bottom: 56px; }

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0; }

header.navbar-fixed {
  width: 100%; }
  header.navbar-fixed nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #ffffff;
    height: 56px;
    width: 100%;
    padding: 0px 18px;
    -webkit-box-shadow: none;
    box-shadow: none; }
    header.navbar-fixed nav a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0; }
      header.navbar-fixed nav a svg {
        width: 24px;
        height: 24px;
        color: #000000; }
    header.navbar-fixed nav p.brand-logo {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      font-size: 16px;
      color: #000000; }
    header.navbar-fixed nav a.brand-logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0; }
      header.navbar-fixed nav a.brand-logo .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1); }
        header.navbar-fixed nav a.brand-logo .logo img {
          width: 35px;
          height: 35px;
          border-radius: 50%; }
    header.navbar-fixed nav .brand-logo.right {
      right: 18px; }

form {
  margin: 0px 18px;
  margin-top: 30px;
  margin-bottom: 15px; }
  form .form-field {
    margin-bottom: 10px; }
    form .form-field label {
      color: #000000;
      font-size: 14px; }
    form .form-field input[type="text"] {
      padding: 0px 5px;
      background: #ffffff;
      border: 1px solid #dfdfe1;
      border-radius: 3px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #000000;
      font-size: 16px;
      font-family: "Proxima Nova"; }
  form .linha-desconto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    form .linha-desconto .form-field {
      margin-bottom: 10px;
      width: 100%; }
      form .linha-desconto .form-field label {
        color: #000000;
        font-size: 14px; }
      form .linha-desconto .form-field input[type="text"] {
        padding: 0px 5px;
        background: #ffffff;
        border: 1px solid #dfdfe1;
        border-radius: 3px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #000000;
        font-size: 16px;
        font-family: "Proxima Nova"; }
    form .linha-desconto .linha-radio {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
      form .linha-desconto .linha-radio label {
        margin-bottom: 18px; }
        form .linha-desconto .linha-radio label input[type="radio"] + span {
          width: 50px;
          height: 42px;
          margin: 0;
          padding: 10px; }
        form .linha-desconto .linha-radio label input[type="radio"] + span:after,
        form .linha-desconto .linha-radio label input[type="radio"] + span:before {
          display: none; }
        form .linha-desconto .linha-radio label input[for="porcentagem"] + span {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          background: #d7d7d7;
          color: #545460;
          font-size: 20px;
          padding: 10px;
          margin: 0; }
        form .linha-desconto .linha-radio label input[for="porcentagem"]:checked + span {
          background: #8cb543;
          color: #ffffff; }
        form .linha-desconto .linha-radio label input[for="real"] + span {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          background: #d7d7d7;
          color: #5d5d69;
          font-size: 20px;
          padding: 10px;
          margin: 0; }
        form .linha-desconto .linha-radio label input[for="real"]:checked + span {
          background: #8cb543;
          color: #ffffff; }

.botao-cadastrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 56px;
  width: 100vw;
  position: fixed;
  bottom: 0;
  padding: 5px;
  padding-top: 0;
  z-index: 999; }
  .botao-cadastrar a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #8cb543;
    height: 50px;
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    border-radius: 3px; }
